html,
body {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /* Removido overflow: hidden para permitir scroll em mobile */
}

body {
  font-family: 'Lato';
}

main {
  display: grid;
  grid: auto / 300px auto;
}

/* This style is in charge of disable zoom by touchscreen actions*/
.touch-auto {
  touch-action: auto;
}

* {
  touch-action: pan-x pan-y;
}
/* This style is in charge of disable zoom by touchscreen actions*/

.leftImg {
  float: left;
  margin-right: 20px; /* Espaço entre a imagem e o conteúdo */
}

.container {
  overflow: hidden; /* Garante que o contêiner envolva o conteúdo e a imagem */
}

.content {
  overflow: hidden; /* Ajusta o conteúdo para não flutuar sob a imagem */
}

img {
  pointer-events: none;
}

/*######### SIDE BAR STYLE #########*/
#sideBarPanel {
  background-color: #a0b9d0;
}

.sideBarHeaderPanel {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 144px;
  background-color: #a0b9d0;
}

.sideBarTopHeaderImg {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 0px;
  flex: none;
  order: 0px;
  flex-grow: 0px;
  background-color: #a0b9d0;
}

.sideBarAppTitlePanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 64px;
  top: 80px;
  background-color: #a0b9d0;
}

.sideBarLImg {
  width: 64px;
  height: 64px;
  background-color: #a0b9d0;
}

.l1 {
  position: absolute;
  width: 21px;
  height: 31px;
  left: 21px;
  top: 16px;
}

.sideBarNuvenTitlePanel {
  position: absolute;
  left: 64px;
  background-color: #a0b9d0;
  height: 64px;
  width: 236px;
}

.companyName {
  position: absolute;
  width: 64px;
  height: 24px;
  left: 16px;
  top: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.applicationName {
  position: absolute;
  width: 168px;
  height: 32px;
  left: 16px;
  top: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
}

.sideBarListPanel {
  position: absolute;
  top: 144px;
  width: 300px;
  height: calc(100% - 168px);
  overflow-y: scroll;
  background-color: #edf2f9;
}

.listPanel {
  padding: 48px 24px 32px 24px;
  display: flex;
  flex-direction: column;
}

.listTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #343434;
  padding-bottom: 12px;
}

.sectionPanel {
  display: flex;
  flex-direction: column;
}

.sectionHeaderPanel {
  display: flex;
  flex-direction: row;
  position: static;
  width: 259px;
  height: 32px;
  margin-top: 1px;
}

.arrowBox {
  height: 16px;
  width: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.arrowImage {
  pointer-events: auto;
}

.arrowRotate {
  transform: rotate(90deg);
}

.sectionTitle {
  height: 24px;
  left: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #5c5c5c;
}

.sectionItemsPanel {
  display: none;
  flex-direction: row;
}

.sectionItem {
  padding-left: 36px;
  margin-top: 5px;
  height: 32px;
  font-style: normal;
  color: #5c5c5c;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.subSectionItem {
  padding-left: 48px;
  margin-top: 5px;
  height: 32px;
  font-style: normal;
  color: #5c5c5c;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #18a0fb;
  cursor: pointer;
}

/*######### SIDE BAR STYLE #########*/

/*######### MAIN DOC STYLE #########*/
#mainDocPanel {
  overflow-y: scroll;
}

#guideHeaderPanel {
  position: relative;
  height: 400px;
  background-color: #a0b9d0;
}

#NuvenBanner {
  height: 66.18px;
  width: 200px;
  background-image: url(resources/NuvenLogoTitulo.png);
  position: absolute;
  top: 32px;
  right: 0;
}

#guideTitlePanel {
  width: 800px;
  position: relative;
  margin: 0 auto;
  top: 126px;
}

.mainDocLImg {
  position: absolute;
  width: 95.97px;
  height: 95.97px;
  top: 10.04px;
  background: #94aee3;
}

.l2 {
  position: absolute;
  width: 32.5px;
  height: 47.98px;
  left: 31.73px;
  top: 23.48px;
}

.mainDocTitle1 {
  position: absolute;
  left: 114.78px;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 40.1428px;
  line-height: 48px;
}

.mainDocTitle2 {
  position: absolute;
  top: 66.49px;
  left: 114.78px;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 40.1428px;
  line-height: 48px;
}

.line {
  position: absolute;
  width: 762.09px;
  height: 0px;
  left: 0px;
  top: 132.97px;
  background-color: #94aee3;
  border: 7.52678px solid #94aee3;
  margin: 0px;
}

.copyrightText {
  position: absolute;
  top: 156.07px;
  font-style: normal;
  font-weight: normal;
  font-size: 15.32px;
  line-height: 18px;
  color: #ffffff;
}

.nuvenLogo {
  position: absolute;
  width: 59.04px;
  height: 33.87px;
  top: 156.07px;
  right: 24px;
}

#guideMainTextPanel {
  width: 800px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

.textSectionPanel {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin-top: 84px;
  min-height: 100%;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.centerImgHeight {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
}

h1 {
  margin: 0px;
}

h2,
h3,
h4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  display: flex;
  align-items: center;
}

li {
  margin: 9px 0 9px 0;
}

.simpleTable {
  border-collapse: collapse;
  width: 100%;
}

.simpleTable td,
.simpleTable th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.statusName {
  display: flex;
  align-items: center;
}

.iconImg {
  width: 30px;
  padding-right: 15px;
}

.tableCasa {
  width: 100%;
  border-collapse: collapse;
}

.tableCasa th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #0070c0;
}

.tableCasa th {
  background-color: #0070c0;
  color: #ffffff;
}

.tableCasa tbody > tr:last-child > td {
  border-bottom: none;
}

.iconImg2 {
  width: 30px;
  padding-left: 0px;
}

.revisionHistoryTable {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/*######### MAIN DOC STYLE #########*/

/*######### FOOTER STYLE #########*/
.footerContent {
  background-color: #f5f5f5;
}

.footerText {
  color: #5c5c5c;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  padding-right: 16px;
  padding-top: 4px;
  margin: 0px;
}
/*######### FOOTER STYLE #########*/
